<div class="col-md-12">
  <h1 id='info'>個人資料</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
      hello world
      </div>
    </div>
  </div>

  <h1 id='edubg'>學歷</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
      hello world
      </div>
    </div>
  </div>

  <h1 id='jobbg'>工作經歷</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
      hello world
      </div>
    </div>
  </div>

  <h1 id='skill'>技能</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
      hello world
      </div>
    </div>
  </div>

  <h1 id='myself'>簡單自傳</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
      hello world
      </div>
    </div>
  </div>

  <h1 id='colle'>作品集</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
      hello world
      </div>
    </div>
  </div>
</div>

