<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top sidebar">
  <div class="col-md-offset-2 col-md-6">
  <ul class="nav bs-docs-sidenav">
    <li><h4><a href="#info">個人資料</a></h4></li>
    <li><h4><a href="#edubg">學歷</a></h4></li>
    <li><h4><a href="#jobbg">工作經歷</a></h4></li>
    <li><h4><a href="#skill">技能</a></h4></li>
    <li><h4><a href="#myself">簡單自傳</a></h4></li>
    <li><h4><a href="#colle">作品集</a></h4></li>
  </ul>
  </div>
</nav>