<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
  <div class="col-md-offset-4 col-md-4">
  <ul class="nav bs-docs-sidenav">
    <% 100.times do |i|%>
      <li ><h4>Test</h4></li>
    <% end %>
  </ul>
  </div>
</div>